@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
body {
  padding: 0; margin: 0;
  font-family:'Pretendard-Regular', '나눔스퀘어', serif;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
#container{
  margin: 0 auto;
  max-width: 1024px;
}

/* Header */
#main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  box-shadow: 0px 20px 20px -28px gray;
}
#header_logo_section{
  padding-left: 12px;
}
#header_menu_section ul{
  display: flex;
  padding: 0;
}
#header_menu_section li{
  padding: 8px 12px;
}
#header_menu_section li a{
  color: gray;
}
#header_menu_section li a:hover{
  color: black;
}
#header_login_section{
	width: 130px;
  	padding: 8px 0px;
  	padding-right: 10px;
  	text-align: right;
}
#header_login_section > div{
	text-align: right;
  padding-bottom: 3px;
  padding-right: 3px;
}
#header_login_section i:first-child{
  padding-right: 5px;
}
#header_login_section a input{
  font-family:'Pretendard-Regular', '나눔스퀘어', serif;
  font-size: 10px;
  border: none;
  padding: 5px;
}

/* Contents */
#main_section{

}
#main_section .page{
  width: 100%;
  /*height: 100vh;*/
}
#page1_contents{
	width: 100%;
	height: 300px;
	position: relative;
}

#page1_contents #search_wrap{
	position: absolute;
    left: 50%;
    top: 18%;
    transform: translate(-50%, -50%);
}
#page1_contents #search_wrap{
	background-color: #F2F2F2;
	height: 30px;
	border-radius: 30px;
	padding: 10px;
}
#page1_contents #search_bar {
	width: 300px;
	padding: 0px 10px;
	border: none;
	background: none;
	outline: none;
	float: left;
	color: black;
	font-size: 16px;
	line-height: 30px;
	font-family:'Pretendard-Regular', '나눔스퀘어', serif;
}
#page1_contents #search_btn{
	width: 30px; height: 30px;
	border-radius: 50%;
	color: #371d1e;
	background: #FFCD00;
	float: right; 
	display: flex;
	justify-content: center;
	align-items: center;
}

#page1_contents table{
	width: 95%;
	height: 50%;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -30%);
    border: 1px solid lightgray;
    border-collapse: collapse;
}
#page1_contents tr:first-child{
	border-bottom: 1px solid lightgray;
}
#page1_contents td{
	height: 40px;
}
#page1_contents td:first-child{
	text-align: center;
	color: #D5AA00;
}
#page1_contents td input[type=checkbox], td input[type="radio"] {  
    display: none;
}
#page1_contents td input ~ label{  
    font-size: 13px;
}
#page1_contents td input[type=checkbox] + label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
}

#page1_contents td input[type=checkbox]+ label:before {     
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 0; bottom: 1px;
    background-color: #F2F2F2;
    border-radius: 2px;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
#page1_contents td input[type=checkbox]:checked + label:before { 
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 18px;
    color: #fff;
    background: #FFCD00;
    text-align: center;
    line-height: 18px;
} 
#page1_contents td input + label{
	padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
#page1_contents td input[type=radio]:checked + label{
    background-color: #FFCD00;
}

/* page2_contents */
#page2_contents{
	width: 100%;
	min-height: 1000px;
	position: relative;
}
#recipe_header{
	width: 100%;
	height: 36px;
}
#recipe_header span{
	line-height: 36px;
	font-size: 25px;
}
#recipe_header > form{
	display: inline-block;
	float: right;
}
#recipe_header > form select{
	display: inline-block;
    height: 36px;
    margin-right: 10px;
    border: none;
    background-color: lightgray;
    font-family: 'Pretendard-Regular';
    padding: 0px 10px;
}
#recipe_header input{
	float: right;
	font-family:'Pretendard-Regular', '나눔스퀘어', serif;
	border: none;
	padding: 10px;
	margin-right: 26px;
	background-color: #FFCD00;
	cursor: pointer;
}
#recipe_list{
	width: 100%;
    position: absolute;
    left: 50%; top: 0;
    transform: translate(-50%, 0%);
    margin-top: 30px;
}
#recipe_list ul{
	width: 100%;
	padding: 0;
	height: 45%;
    margin-top: 20px;
	margin-left: 15px;
}
#recipe_list li{
  width: 22%;
  height: 100%;
  margin: 10px 10px;
  position: relative;
  display: inline-block;
}
#recipe_list .ranking_num {
  position: absolute;
  width: 20%;
  background: #fff;
  border: 1px solid #bbb;
  text-align: center;
  line-height: 1;
  padding: 7px 7px;
  margin: 0 0 10px;
  vertical-align: unset;
}
#recipe_list .recipe_image_section{
	width: 100%;
	position: relative;
}
#recipe_list .recipe_image_section::after{
	content: "";
	display: block;
	padding-bottom: 100%;
}
#recipe_list .recipe_image_section img{
	position:absolute;
	width: 100%;
	height: 100%;
}
#recipe_list .recipe_caption{
  height: 18%;
  padding: 0 5px;
}
#recipe_list .recipe_caption_title{
	text-align: center;
	margin-top: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#recipe_list .recipe_caption_info{
  font-size: 12px;
}
#recipe_list .recipe_caption_info_star img{
  width: 12px;
  height: 12px;
}
#recipe_list .recipe_caption_info_recommand{

}
#recipe_list .recipe_caption_info_rCnt{
  float: right;
  vertical-align: middle;
}
#paging_section{
    width: 100%;
	text-align: center;
	position: absolute;
	bottom: 40px;
}
#paging_section ul{
    width: 100%;
    padding: 0;
}
#paging_section ul li{
    display: inline;
}
#paging_section ul li span{
    color: #D5AA00;
}

/* Footer */
#main_footer{
  height: 150px;
  padding: 50px 0;
  margin-top: 50px;
  color: #4b4c4d;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_footer #footer_list{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#main_footer .footer_list_contents{
  display: inline-block;
  text-align: center;
}
#main_footer p {
  font-size: 14px;
}
#main_footer ul {
  line-height: 1.6;
  font-size: 12px;
  padding-left: 0px;
}
#main_footer ul a {
  opacity: 0.8;
}
#main_footer ul a:hover {
  opacity: 1;
}
#main_footer .social {
  /* text-align: right; */
}
#main_footer .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}
#main_footer .social > a:hover {
  opacity: 0.9;
}
#main_footer #copyright {
  line-height: 1.6;
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}
/* Top버튼 */
#top_button{
  position: fixed;
  right: 20px; bottom: 20px;
}
#top_button i{
  font-size: 30px;
  color: #FFCD00;
}
